{% extends 'base.html' %}
{% block content %}
<div class="container py-4">
    <h3>Orders</h3>

    <table class="table table-bordered">
        <tr><th>ID</th><th>User</th><th>Product</th><th>Total</th><th>Status</th></tr>

        {% for o in orders %}
        <tr>
            <td>{{ o.id }}</td>
            <td>{{ o.user }}</td>
            <td>{{ o.product }}</td>
            <td>{{ o.total }}</td>
            <td>{{ o.status }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
